### INTRODUCTION TO PYTHON


Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.

### Creating a comment
Comments starts with a #, and Python will ignore them:
#This is a comment
print("Hello, World!")

## Variables
Variables are containers for storing data values.
Rules:
Should not begin with the integer.
should not begin with special chracters other than _(underscore)
Should begin with alphabet
space not allowed and it is case sensitive

In [1]:
a=3
print(a)

3

In [2]:
a=4
A=5
print(a,A)

4 5

### Variable update

In [3]:
a=6
print(a)

6

### Assigning multiple values to multiple variables

Python allows you to assingn many values to the many variables in one line

In [4]:
x,y,z="Tanish","Aadhira","Darshan"
print(x,y,z)

Tanish Aadhira Darshan

### Assigning one value to multiple variables
Python allows you one single value to multiple variables

In [5]:
x=y=z="Tejaswini"
print(x)
print(y)
print(z)

Tejaswini
Tejaswini
Tejaswini

 Data types

A data type is an attribute of a piece of data that tells a device how the end-user might interact with the data.

In [6]:
print(type(a))
print(type(A))
print(type(False))
print(type(None))

<class 'int'>
<class 'int'>
<class 'bool'>
<class 'NoneType'>

Number

Integer
float
complex

In [7]:
c=2
print(type(c))

<class 'int'>

In [8]:
d=2.5
print(type(d))

<class 'float'>

In [9]:
e=1+2j
print(type(e))

<class 'complex'>

### Type casting

In [11]:
a=3
print(type(a))

<class 'int'>

In [12]:
a=float(a)
print(type(a))

<class 'float'>

In [13]:
print(a)

3.0

In [14]:
b=4.6
print(type(b))

<class 'float'>

In [15]:
b=int(b)
print(b)
print(type(b))

4
<class 'int'>

### String

In [17]:
c="Tanish prajan"  #Should be given within "" or ''
d='Aadhira'

print(c)
print(d)

Tanish prajan
Aadhira

### String Indexing and slicing

In [18]:
f="Tejaswini"
print(f)
f[3]            # To select a particular letter .positive starts from 0,negative starts from -1

Tejaswini

'a'

In [20]:
f[3:7]

'aswi'

In [23]:
len(f) # to find the length of the string

9

In [27]:
f.index('n')

7

### Update string

In [28]:
f="Tejaswini"
f.replace('T','R')

'Rejaswini'

In [30]:
f.replace("Tejaswini","Aadhira")

'Aadhira'

### Concat string

In [31]:
f="Aadhira"
g="is an angel"

f+ '' +g  #need to use white space

'Aadhirais an angel'

### Format string

In [38]:
name="Tanish"
age=7

txt="Hi im {} Im a good boy at the age of {}"
print(txt.format(name,age))

Hi im Tanish Im a good boy at the age of 7

In [44]:
name="Tanish"  #with index
age=7

txt=f"Hi im {name} Im a good boy at the age of {age}"

print(txt)

Hi im Tanish Im a good boy at the age of 7

### Escape characters

In [48]:
f="Tanish\n is a clever boy"
print(f)

Tanish
 is a clever boy

In [49]:
import datetime

In [50]:
date=datetime.date
a=date.today()
print(a)

2023-10-27

In [53]:
a='Today\'s date'
a

"Today's date"

In [55]:
a=2
a=str(a)
print(type(a))
a

<class 'str'>

'2'